.inline-block {
    display: inline-block;
    vertical-align: top;
    
}
.logo {
    width: 23%;
    padding: 1%;
        
}
nav {
    width: 73%;
    padding: 1%;

}
ul {
    width: 50%;
    margin-left: auto;
}
.logo {
    text-align: center;
}
.heroImg {
    height: 600px;
    padding: 25px;

}
.content {
    width: 500px;
    margin: 0 auto;
}

footer {
    background-color: #373738;
}
footer>ul {
    display: inline-block;
    vertical-align: top;
    padding-left: 680px;
}
.footerText {
      display: inline-block;
      text-align: center;
}
.flexContainer { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 35px;
    width: 100%;
}

/* .flexContainer>div {
      width: 33%;


} */
.workGrid {
      display: grid;
      grid-template-areas: 'myArea otherArea';
      padding: 35px;
      column-gap: 20px;

}

.photoshop {
     
    padding: 35px;
}

.illustrator {
    
    padding: 35px;
}

.xd {
   
    padding: 35px;
    }

.avengers {
        grid-area: myArea;
        padding: 15px;
    }
.disney {
    grid-area: otherArea;

}

@media only screen and (max-width: 600px){
    .flexContainer {
        flex-direction: column !important;
    }
    .photoshop {
        width: 100%;
    }
    .illustrator {
        width: 100%;

    }
    .xd {
        width: 100%;
    }

    .workGrid {
       grid-template-rows: 300px 300px;  
        grid-template-columns: 1fr; 
        grid-template-areas: "myArea" "otherArea";
    }
    .avengers {
        width: 100%;
    }
    .disney {
        width: 100%;
    }
}